[alias]
    sync = "!git pull origin main && git add -A && git commit -m \"update $(date '+%d/%m/%Y %H:%M:%S')\" && git push"
    deploy = !./hash.sh \
        && git pull origin main --quiet \
        && git add -A \
        && "git commit -m \"trigger deploy $(date '+%d/%m/%Y %H:%M:%S')\"" --quiet \
        && git push origin main --quiet
    unlisted = "!./unlisted-urls.sh"
    push-upstream = "!./push-to-upstream.sh"