.toes-posts--grid {
  height: calc(100 * var(--vh, 1vh) - var(--header-height, 60px));
  overflow-y: hidden;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.toes-posts {
  .toes-posts__year {
    &:nth-child(n + 2) {
      margin-left: -1px;
    }
  }
}

.toes-posts__year--marker {
  height: 100%;
  border: 1px solid theme("colors.charcoal");
  @apply bg-creme p-6;

  h2 {
    @apply font-migra font-extrabold -rotate-90 text-3xl md:text-5xl;
  }
}

.toes-posts__post {
  height: 100%;
  border: 1px solid theme("colors.charcoal");
  margin-left: -1px;
  padding: 1rem;
}
