@font-face {
    font-family: 'IaWriter';
    font-style: normal;
    font-weight: 400;
    src: url(~/assets/fonts/ia-writer/iAWriterMonoS-Regular.woff2) format('woff2'), url(~/assets/fonts/ia-writer/iAWriterMonoS-Regular.woff) format('woff');
}

@font-face {
    font-family: 'IaWriter';
    font-style: normal;
    font-weight: 700;
    src: url(~/assets/fonts/ia-writer/iAWriterMonoS-Bold.woff2) format('woff2'), url(~/assets/fonts/ia-writer/iAWriterMonoS-Bold.woff) format('woff');
}

@font-face {
    font-family: 'IaWriter';
    font-style: italic;
    font-weight: 400;
    src: url(~/assets/fonts/ia-writer/iAWriterMonoS-Italic.woff2) format('woff2'), url(~/assets/fonts/ia-writer/iAWriterMonoS-Italic.woff) format('woff');
}

@font-face {
    font-family: 'IaWriter';
    font-style: italic;
    font-weight: 700;
    src: url(~/assets/fonts/ia-writer/iAWriterMonoS-BoldItalic.woff2) format('woff2'), url(~/assets/fonts/ia-writer/iAWriterMonoS-BoldItalic.woff) format('woff');
}

@font-face {
    font-family: 'migra';
    font-style: normal;
    font-weight: 200;
    src: url(~/assets/fonts/pp-migra/PPMigra-Extralight.woff2) format('woff2'), url(~/assets/fonts/pp-migra/PPMigra-Extralight.woff) format('woff');
}

@font-face {
    font-family: 'migra';
    font-style: italic;
    font-weight: 200;
    src: url(~/assets/fonts/pp-migra/PPMigra-ExtralightItalic.woff2) format('woff2'), url(~/assets/fonts/pp-migra/PPMigra-ExtralightItalic.woff) format('woff');
}

@font-face {
    font-family: 'migra';
    font-style: normal;
    font-weight: 800;
    src: url(~/assets/fonts/pp-migra/PPMigra-Extrabold.woff2) format('woff2'), url(~/assets/fonts/pp-migra/PPMigra-Extrabold.woff) format('woff');
}

@font-face {
    font-family: 'migra';
    font-style: italic;
    font-weight: 800;
    src: url(~/assets/fonts/pp-migra/PPMigra-ExtraboldItalic.woff2) format('woff2'), url(~/assets/fonts/pp-migra/PPMigra-ExtraboldItalic.woff) format('woff');
}