.toes-default-page-layout,
.toes-default-post-layout {
  @apply max-w-2xl pb-12;

  p:first-child,
  h1:first-child,
  h2:first-child,
  h3:first-child,
  h4:first-child,
  h5:first-child,
  h6:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1.5em;
    margin-bottom: 0.5em !important;
  }

  blockquote {
    @apply font-caudex italic text-2xl md:text-4xl text-primary my-10 max-w-lg border-s-primary/10;
  }
}
