.toes-default-page-layout,
.toes-default-post-layout {
    @apply max-w-2xl pb-12;

    h1 {
        font-size: clamp(2.5rem, 4vw, 4rem);
    }

    h2 {
        font-size: clamp(2rem, 3.5vw, 3.5rem);
    }

    h3 {
        font-size: clamp(1.75rem, 3vw, 3rem);
    }

    h4 {
        font-size: clamp(1.5rem, 2.5vw, 2.5rem);
    }

    h5 {
        font-size: clamp(1.25rem, 2vw, 2rem);
    }

    h6 {
        font-size: clamp(1rem, 1.5vw, 1.5rem);
    }

    p+p {
        @apply mt-4;
    }

    blockquote {
        @apply font-migra italic text-2xl md:text-4xl text-primary my-10 max-w-lg mx-auto;
    }
}